.duke-logo {
    width: 50%;
    height: auto;
    object-fit: cover;
    position: relative;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}